h1,
h2 {
  font-family: Lato;
}

#app {
  width: 98vw;
  height: 98vh;
}

#chart {
  width: 100%;
  height: 500px;
}

.toolbar {
  height: 100px;
  width: 100%;
}

.scroll {
  height: 200px;
  width: 100%;
  overflow-y: auto;
}
